pipeline/wkf_CLM_ARCH_STG_EXD_3.json
{
    "name": "wkf_CLM_ARCH_STG_EXD_3",
    "properties": {
        "activities": [
            {
                "name": "Start",
                "type": "Script",
                "dependsOn": [],
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query"
                        }
                    ]
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_AUTO_LOSS",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_CLAIM_DEPT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_AUTO_LOSS"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_CLAIM_SUPPORT_01",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_CLAIM_DIVISION",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_CLAIM_SUPPORT_01"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_CLM_OFFSET_HONOR",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_WC_REPORT_HISTORY",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_CLM_OFFSET_HONOR"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_LOSS_OCCURRENCE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_LOSS_OCCURRENCE_S3P"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_PROPERTY_LOSS",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_REPORT_OFFICE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_PROPERTY_LOSS"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_WC_REPORT_HISTORY",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_WC_REPORT_HISTORY"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_CLAIM_DEPT",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_CLAIM_DEPT"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_CLAIM_DIVISION",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_CLAIM_DIVISION"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_REPORT_OFFICE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_REPORT_OFFICE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_CAUSE_OF_LOSS",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_CAUSE_OF_LOSS"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_CHANGE_REASON",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_CAUSE_OF_LOSS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_CHANGE_REASON"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_AIA12_DESC",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_AIA34_DESC",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_AIA12_DESC"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_AIA34_DESC",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_AIA56_DESC",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_AIA34_DESC"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_AIA56_DESC",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_CLIENT_UCT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_AIA56_DESC"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_CLIENT_UCT",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_EMPLOYER_TYPE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_CLIENT_UCT"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_EMPLOYER_TYPE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_EXEMPTION_TYPE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_EMPLOYER_TYPE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_EXEMPTION_TYPE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_INSURED_TYPE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_EXEMPTION_TYPE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_INSURED_TYPE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_OCCUPATION",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_INSURED_TYPE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_OCCUPATION",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_PREMISES_TYPE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_OCCUPATION"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_PREMISES_TYPE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_RETURN_TYPE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_PREMISES_TYPE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_RETURN_TYPE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_WAGE_BASIS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_RETURN_TYPE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_WAGE_BASIS",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_CLAIM_CATEGORY",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_WAGE_BASIS"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_WC_EMPLYMNT_ST",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_WC_EMPLYMNT_ST"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_CLAIM_ACTIVITY_STATUS",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_WC_EMPLYMNT_ST",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_CLAIM_ACTIVITY_STATUS"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_CLAIM_CATEGORY",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_CLAIM_ACTIVITY_STATUS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_CLAIM_CATEGORY"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_BENEFIT_TYPE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_CHANGE_REASON",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_BENEFIT_TYPE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_Master_1099_List",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_Master_1099_List"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_Vendor_1099_type",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_Master_1099_List",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_Vendor_1099_type"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-PostBatch_ClaimsStaging_EXD",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_AUTO_LOSS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_CLM_OFFSET_HONOR",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_LOSS_OCCURRENCE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_PROPERTY_LOSS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_AIA12_DESC",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_BENEFIT_TYPE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_Vendor_1099_type",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_CLAIM_QUEST_DATA_STAGE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_PC_BENEFIT_FILTER",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SecUsrsStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_CLM_ARCH_Insert_AdmSecurityGrpsStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PostBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-PostBatch_CheckForExceptions_ClaimsStaging_EXD",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-ins_upd_rep_sess_log",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PostBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_CLAIM",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_CLAIM"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_LOG_NOTE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_CLAIM",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_LOG_NOTE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SUP_CLAIM_STAFF_STAGE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_LOG_NOTE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SUP_CLAIM_STAFF_STAGE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_CLAIM_QUEST_DATA_STAGE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SUP_CLAIM_STAFF_STAGE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_CLAIM_QUEST_DATA_STAGE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_COVERAGE_CATEGORY",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_SupTaskStatus",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_COVERAGE_CATEGORY"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_PC_BNFT_FLTR_TYPS",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_COVERAGE_CATEGORY",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_PC_BNFT_FLTR_TYPS"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_PC_BENEFIT_FILTER",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_PC_BNFT_FLTR_TYPS",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_PC_BENEFIT_FILTER"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_CLM_FEATURE",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_CLAIM_SUPPORT_01",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_CLM_FEATURE"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SecUsrsStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_CLM_FEATURE",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SecUsrsStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_AdmMbrSecurityStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_AdmMbrSecurityStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_AdmMembersStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_AdmMbrSecurityStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_AdmMembersStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_AdmSecurityGrpsStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_AdmMembersStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_AdmSecurityGrpsStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_SupTaskStatus",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_CLM_ARCH_Insert_Task",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_SupTaskStatus"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_CLM_ARCH_Insert_Task",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_CLM_ARCH_Insert_Task"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-ins_upd_rep_sess_log",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-PostBatch_ClaimsStaging_EXD",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_Upsert_Rep_Session_Log]",
                    "storedProcedureParameters": {
                        "jsonInput": {
                            "value": {
                                "value": "[\n   {\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.end_time}\"\n}\n]",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-ins_upd_rep_sess_log_0",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-PostBatch_CheckForExceptions_ClaimsStaging_EXD",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_Upsert_Rep_Session_Log]",
                    "storedProcedureParameters": {
                        "jsonInput": {
                            "value": {
                                "value": "[\n   {\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.end_time}\"\n}\n]",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "description": "sp-ins_upd_rep_sess_log",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            }
        ],
        "folder": {
            "name": "ClaimsStaging/"
        },
        "variables": {}
    }
}