pipeline/wkf_AGY_ARCH_INSERT_Agency_Hierarchy.json
{
    "name": "wkf_AGY_ARCH_INSERT_Agency_Hierarchy",
    "properties": {
        "activities": [
            {
                "name": "sp-PostBatch_AgencyHierarchy_Archive",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchAssociateStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchUnderwriterProductRelationsh_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchAgencySilverCircleTierStaging",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PostBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-PreBatch_AgencyHierarchy_Archive",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PreBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-PostBatch_CheckForExceptions_AgencyHierarchy_Archive",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-ins_upd_rep_sess_log",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PostBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "Start",
                "type": "Script",
                "dependsOn": [],
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query"
                        }
                    ]
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "Timer",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "sv-Set Params",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query"
                        }
                    ]
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchAgencyAddressODSStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchAgencyEmployeeStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchAgencyAddressODSStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchUnderwriterAgencyRelationshi_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchUnderwritingRegionRelationsh_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchUnderwriterAgencyRelationshipStage"
                    },
                    "parameters": {}
                },
                "description": "s_m_AGY_ARCH_INSERT_ArchUnderwriterAgencyRelationshipStage",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchUnderwriterProductRelationsh_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchUnderwriterAgencyRelationshi_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchUnderwriterProductRelationshipStage"
                    },
                    "parameters": {}
                },
                "description": "s_m_AGY_ARCH_INSERT_ArchUnderwriterProductRelationshipStage",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchAgencyPayCodeStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchAgencyRelationshipStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchAgencyPayCodeStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchSalesTerritoryStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Timer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchSalesTerritoryStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchUnderwritingRegionRelationsh_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchUnderwritingReportingRelatio_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchUnderwritingRegionRelationshipStage"
                    },
                    "parameters": {}
                },
                "description": "s_m_AGY_ARCH_INSERT_ArchUnderwritingRegionRelationshipStage",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchUnderwritingRegionStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Timer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchUnderwritingRegionStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchUnderwritingReportingRelatio_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchUnderwritingRegionStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchUnderwritingReportingRelationshipStage"
                    },
                    "parameters": {}
                },
                "description": "s_m_AGY_ARCH_INSERT_ArchUnderwritingReportingRelationshipStage",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchAssociateStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchRegionalSalesManagerRelation_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchAssociateStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchAgencyEmployeeStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchAgencyODSStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchAgencyEmployeeStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchAgencyODSStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Timer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchAgencyODSStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchAgencyRelationshipStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchAgencyAddressODSStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchAgencyRelationshipStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchRegionalSalesManagerRelation_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchSalesReportingRelationshipStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchRegionalSalesManagerRelationshipStage"
                    },
                    "parameters": {}
                },
                "description": "s_m_AGY_ARCH_INSERT_ArchRegionalSalesManagerRelationshipStage",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchSalesReportingRelationshipStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchSalesTerritoryRelationshipStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchSalesReportingRelationshipStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchSalesTerritoryRelationshipStage",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchSalesTerritoryStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchSalesTerritoryRelationshipStage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_AGY_ARCH_INSERT_ArchAgencySilverCircleTierStaging",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_AGY_ARCH_INSERT_ArchAgencyPayCodeStage",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_AGY_ARCH_INSERT_ArchAgencySilverCircleTierStaging"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-ins_upd_rep_sess_log",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-PostBatch_AgencyHierarchy_Archive",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_Upsert_Rep_Session_Log]",
                    "storedProcedureParameters": {
                        "jsonInput": {
                            "value": {
                                "value": "[\n   {\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.end_time}\"\n}\n]",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "spt-Get Pipeline Parameters",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "sp-PreBatch_AgencyHierarchy_Archive",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": {
                                "value": "@concat('EXEC Proc_Pipeline_Parameters @workflow_name = ''', pipeline().Pipeline, '''')",
                                "type": "Expression"
                            }
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sv-Set Params",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "spt-Get Pipeline Parameters",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "Params",
                    "value": {
                        "value": "@activity('spt-Get Pipeline Parameters').output.resultSets[0].rows[0]['json_value']",
                        "type": "Expression"
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-ins_upd_rep_sess_log_0",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-PostBatch_CheckForExceptions_AgencyHierarchy_Archive",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_Upsert_Rep_Session_Log]",
                    "storedProcedureParameters": {
                        "jsonInput": {
                            "value": {
                                "value": "[\n   {\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.end_time}\"\n}\n]",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "description": "sp-ins_upd_rep_sess_log",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            }
        ],
        "folder": {
            "name": "AgencyStaging/"
        },
        "variables": {
            "Params": {
                "type": "String"
            }
        }
    }
}