pipeline/wkf_CLM_DW_LOAD_Claims_SUPPORT_sub01.json
{
	"name": "wkf_CLM_DW_LOAD_Claims_SUPPORT_sub01",
	"properties": {
		"activities": [
			{
				"name": "Start",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"type": "Query"
						}
					]
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_transaction_reason",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_transaction_reason",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_transaction_code",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_transaction_code",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_party_role_code",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_party_role_code",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_financial_code",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_financial_code",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_transaction_category",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_transaction_category",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_pms_loss_disability",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_pms_loss_disability",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_major_peril",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_major_peril",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_risk_unit",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_risk_unit",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_cause_of_loss",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_cause_of_loss",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_risk_unit_group",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_risk_unit_group",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_reserve_category",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_reserve_category",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "spt-Get_Audit_Batch_values",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_SQL_SRVR_SQL06",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
							"type": "Expression"
						},
						"UserName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('EXEC Proc_Get_Audit_Batch @workflow_name = ''', pipeline().Pipeline, '''')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "sp-PreBatch_ClaimsDataWarehouse_Sup",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sp-PreAudit_ClaimsDataWarehouse_Sup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Proc_PreBatch]",
					"storedProcedureParameters": {
						"BatchName": {
							"value": {
								"value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_SQL_SRVR_SQL06",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
							"type": "Expression"
						},
						"UserName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_workers_comp_employer_type",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "s_m_CLM_DW_LOAD_sup_claim_reserve_category",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_workers_comp_employer_type",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_insured_type",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_insured_type",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_Sup_workers_comp_activity_status",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_Sup_workers_comp_activity_status",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_Sup_workers_comp_claim_category",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "s_m_CLM_DW_LOAD_Sup_workers_comp_activity_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_Sup_workers_comp_claim_category",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_benefit_type",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "s_m_CLM_DW_LOAD_sup_insured_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_benefit_type",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_memo_phrase",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "s_m_CLM_DW_LOAD_sup_claim_benefit_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_memo_phrase",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_EOR_sup_claim_vendor_1099_type",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_EOR_sup_claim_vendor_1099_type",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_subrogation_deductible_sta_00",
				"description": "s_m_CLM_DW_LOAD_sup_claim_subrogation_deductible_status_code",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_subrogation_deductible_status_code",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_claim_subrogation_file_status_code",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "s_m_CLM_DW_LOAD_sup_claim_subrogation_deductible_sta_00",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_claim_subrogation_file_status_code",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_cms_tin_office",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "s_m_CLM_DW_LOAD_EOR_sup_claim_vendor_1099_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_cms_tin_office",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_sup_CauseOfLoss",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sv-Set Params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_sup_CauseOfLoss",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "s_m_CLM_DW_LOAD_SupClaimReportedMethodDescription",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "s_m_CLM_DW_LOAD_sup_CauseOfLoss",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "s_m_CLM_DW_LOAD_SupClaimReportedMethodDescription",
						"type": "PipelineReference"
					}
				}
			},
			{
				"name": "sp-PreAudit_ClaimsDataWarehouse_Sup",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spt-Get_Audit_Batch_values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Proc_PreAudit]",
					"storedProcedureParameters": {
						"AuditName": {
							"value": {
								"value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['audit_name']",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_SQL_SRVR_SQL06",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
							"type": "Expression"
						},
						"UserName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "spt-Get Pipeline Parameters",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "sp-PreBatch_ClaimsDataWarehouse_Sup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_SQL_SRVR_SQL06",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
							"type": "Expression"
						},
						"DatabaseName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
							"type": "Expression"
						},
						"UserName": {
							"value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('EXEC Proc_Pipeline_Parameters @workflow_name = ''', pipeline().Pipeline, '''')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "sv-Set Params",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "spt-Get Pipeline Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Params",
					"value": {
						"value": "@activity('spt-Get Pipeline Parameters').output.resultSets[0].rows[0]['json_value']",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Params": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Claims DataWarehouse/"
		},
		"annotations": []
	}
}