pipeline/wkf_POL_DW_LOAD_Premium_PMS_4.json
{
    "name": "wkf_POL_DW_LOAD_Premium_PMS_4",
    "properties": {
        "activities": [
            {
                "name": "Start",
                "type": "Script",
                "dependsOn": [],
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query"
                        }
                    ]
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_WorkBalance_to_WorkPolicy_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_WorkBalance_to_WorkPolicy_Reprocess"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_Logical_Delete_Location_Coverage_Transact_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_WorkBalance_to_WorkPolicy_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_Logical_Delete_Location_Coverage_Transaction_Data"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_Logical_Delete_Location_Coverage_Transaction_Data_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_RiskLocation_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_Logical_Delete_Location_Coverage_Transact_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_RiskLocation"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_PolicyCoverage_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_RiskLocation_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_PolicyCoverage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_StatisticalCoverage_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_PolicyCoverage_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_StatisticalCoverage"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_PremiumTransaction_BureauStatistical_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_StatisticalCoverage_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_PremiumTransaction_BureauStatisticalCode"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_LOAD_PremiumTransaction_BureauStatisticalCode_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_PassThroughChargeTransaction_BureauS_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_ArchWorkPremiumTransaction_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_PassThroughChargeTransaction_BureauStatisticalCode"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_LOAD_PassThroughChargeTransaction_BureauStatisticalCode_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_BALANCE_PremiumTransaction_PassThroughCha_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_UPDATE_BureauStatisticalCode_Delete_Dupli_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_BALANCE_PremiumTransaction_PassThroughCharges"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_BALANCE_PremiumTransaction_PassThroughChargeTransaction_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-PostBatch_PolicyCustDWH",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "s_m_Do_ChecksAndBalances_Stg_To_Edw_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "s_m_POL_DW_LOAD_WorkBalance_to_WorkPolicy_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PostBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_Do_ChecksAndBalances_Stg_To_Edw_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageDetailGeneralLiability_Repro_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_Do_ChecksAndBalances"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_UPDATE_BureauStatisticalCode_Delete_Dupli_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_PassThroughChargeTransaction_BureauS_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_UPDATE_BureauStatisticalCode_Delete_Duplicate_Records"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_UPDATE_BureauStatisticalCode_Delete_Duplicate_Records_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-PostBatch_CheckForExceptions_PolicyCustDWH",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-ins_upd_rep_sess_log",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PostBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageDetailWorkersCompensation_Re_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageDetailInlandMarine_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageDetailWorkersCompensation"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_LOAD_CoverageDetailWorkersCompensation_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageDetailCommercialUmbrella_Rep_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageDetailWorkersCompensation_Re_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageDetailCommercialUmbrella"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_LOAD_CoverageDetailCommercialUmbrella_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageDetailGeneralLiability_Repro_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageDetailCommercialUmbrella_Rep_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageDetailGeneralLiability"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_LOAD_CoverageDetailGeneralLiability_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_ArchWorkPremiumTransaction_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_PremiumTransaction_BureauStatistical_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_ArchWorkPremiumTransaction"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageDeductible_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_BALANCE_PremiumTransaction_PassThroughCha_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageDeductible"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageLimit_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageDeductible_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageLimit"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageDetailCommercialAuto_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageLimit_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageDetailCommercialAuto"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageDetailCommercialProperty_Rep_00",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageDetailCommercialAuto_Reprocess",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageDetailCommercialProperty"
                    },
                    "parameters": {}
                },
                "description": "s_m_POL_DW_LOAD_CoverageDetailCommercialProperty_Reprocess",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "s_m_POL_DW_LOAD_CoverageDetailInlandMarine_Reprocess",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "s_m_POL_DW_LOAD_CoverageDetailCommercialProperty_Rep_00",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "pipeline": {
                        "type": "PipelineReference",
                        "referenceName": "s_m_POL_DW_LOAD_CoverageDetailInlandMarine"
                    },
                    "parameters": {}
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-ins_upd_rep_sess_log",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-PostBatch_PolicyCustDWH",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_Upsert_Rep_Session_Log]",
                    "storedProcedureParameters": {
                        "jsonInput": {
                            "value": {
                                "value": "[\n   {\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.end_time}\"\n}\n]",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sp-ins_upd_rep_sess_log_0",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "sp-PostBatch_CheckForExceptions_PolicyCustDWH",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_Upsert_Rep_Session_Log]",
                    "storedProcedureParameters": {
                        "jsonInput": {
                            "value": {
                                "value": "[\n   {\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyAddressStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyEmployeeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyODSStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyPayCodeStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AssociateStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_RegionalSalesManagerRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesReportingRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_SalesTerritoryStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterAgencyRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwriterProductRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionRelationshipStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingRegionStage').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_UnderwritingReportingRelationshipStg').output.pipelineReturnValue.end_time}\"\n},\n{\n   \"wkf_name\":\"@{pipeline().Pipeline}\",\n   \"session_name\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineName}\",\n   \"wf_run_id\":\"@{pipeline().RunId}\",\n   \"session_run_id\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineRunId}\",\n   \"process_start_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.start_time}\",\n   \"process_end_time\":\"@{activity('s_m_AGY_STG_INSERT_AgencySilverCircleTierStaging').output.pipelineReturnValue.end_time}\"\n}\n]",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "description": "sp-ins_upd_rep_sess_log",
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            }
        ],
        "folder": {
            "name": "PolicyDataWarehouse/"
        },
        "variables": {}
    }
}