pipeline/wkf_Do_PreBatch_PolicyStaging_DCT.json
{
    "name": "wkf_Do_PreBatch_PolicyStaging_DCT",
    "properties": {
        "activities": [
            {
                "name": "sp-PreBatch_PolicyStaging_DCT",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Start",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Proc_PreBatch]",
                    "storedProcedureParameters": {
                        "BatchName": {
                            "value": {
                                "value": "@activity('spt-Get_Audit_Batch_values').output.resultSets[0].rows[0]['batch_name']",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "Control",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "sv-Set Params",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query"
                        }
                    ]
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "Start",
                "type": "Script",
                "dependsOn": [],
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query"
                        }
                    ]
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "spt-Get Pipeline Parameters",
                "type": "Script",
                "dependsOn": [
                    {
                        "activity": "sp-PreBatch_PolicyStaging_DCT",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "linkedServiceName": {
                    "referenceName": "ls_SQL_SRVR_SQL06",
                    "type": "LinkedServiceReference",
                    "parameters": {
                        "ServerName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_NM_SQL06",
                            "type": "Expression"
                        },
                        "DatabaseName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_DB_NM_INFORMATICAAUDITCONTROL",
                            "type": "Expression"
                        },
                        "UserName": {
                            "value": "@pipeline().globalParameters.gp_SQL_SRVR_USER_NM_SQL06",
                            "type": "Expression"
                        }
                    }
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": {
                                "value": "@concat('EXEC Proc_Pipeline_Parameters @workflow_name = ''', pipeline().Pipeline, '''')",
                                "type": "Expression"
                            }
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            },
            {
                "name": "sv-Set Params",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "spt-Get Pipeline Parameters",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "Params",
                    "value": {
                        "value": "@activity('spt-Get Pipeline Parameters').output.resultSets[0].rows[0]['json_value']",
                        "type": "Expression"
                    }
                },
                "state": "Inactive",
                "onInactiveMarkAs": "Succeeded"
            }
        ],
        "folder": {
            "name": "Staging/PolicyStaging/"
        },
        "variables": {
            "Params": {
                "type": "String"
            }
        }
    }
}